@using copts.Areas.cabinet.ViewModels
@model LoginModel
@{
    ViewData["Title"] = "Login";
    
}
<div class="text-center">
    <h2>Вход в систему</h2><br />
</div>
<div class="div-con text-center">
    <form asp-action="login" asp-controller="home" asp-antiforgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label class="control-label mt-lg-5" asp-for="Login"><i class="fa fa-user"></i> Имя пользователя</label>
            <input class="form-control" type="text" asp-for="Login" placeholder="Имя пользователя" />
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Password"><i class="fa fa-key"></i>Пароль</label>
            <input class="form-control" type="password" asp-for="Password" placeholder="Пароль" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <input type="submit" value="Вход" class="btn btn-primary" />
                <a asp-action="registrate" asp-controller="home" class="btn btn-danger">Регистрация</a>
            </div>
        </div>
    </form>
</div>


